.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 60px;
  max-width: 1600px;
  max-height: 1080px; 
  margin: 0 auto;    
  height: 70vh;
  background-color: #000;
  color: white;
  font-family: 'PPMori', sans-serif;

}

.hero-left-side {
  flex: 1;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.hero-left-side h1 {
  font-size: 100px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
}

.hero-left-side .italic {
  font-style: italic;
  font-weight: 400;
}

.info {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.info-block {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  font-size: 1rem;
  color: #aaa;
}

.label {
  font-weight: bold;
  color: white;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
}

.text {
  color: rgba(255, 255, 255, 0.6); 
  font-weight: 400;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 2px;
}

.hero-image img {
  height: 60vh;
  width: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

/* 🟢 Responsive layout */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left-side h1 {
    font-size: 48px;
  }

  .info {
    align-items: center;
  }

  .hero-image {
    margin-top: 40px;
  }
}
